<!-- Barra de tareas -->
<div class="header">
  <h1>NASA</h1>
</div>

<!-- Contenido de bienvenida -->
<div class="welcome-content">
  <h1>Bienvenidos</h1>
  <p>Contenido del componente principal</p>
</div>

<!-- Navegación -->
<nav>
  <ul>
    <li><a routerLink="/popular-media">Medios populares</a></li>
    <li><a routerLink="/media-detail">Detalle de los medios</a></li>
    <li><a routerLink="/search-media">Buscar medios</a></li>
    <li><a routerLink="/filter-media">Filtro de medios</a></li>
    <li><a routerLink="/login">Acceso</a></li>
    <li><a routerLink="/profile">Perfil</a></li>
    <li><a routerLink="/wishlist">Lista de deseos</a></li>
  </ul>
</nav>

<!-- Contenido principal -->
<div class="content">
  <!-- Contenedor de imágenes -->
  <app-recent-images [images]="images"></app-recent-images>
</div>

<!-- Router outlet para cargar otros componentes -->
<router-outlet></router-outlet>
