/* Estilo para la barra de tareas */
.header {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Estilo para el contenido principal */
.content {
  background-color: #000033;
  color: white;
  padding: 20px;
  min-height: 100vh; /* Asegúrate de que cubra toda la altura de la ventana */
}

/* Estilo para el contenedor de bienvenida */
.welcome-content {
  text-align: center;
}

/* Estilo para la navegación */
nav {
  background-color: black;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
