<div class="welcome-content">
  <h1>Bienvenidos</h1>
  <p>Contenido del componente principal</p>
</div>

<div class="image-container">
  <div *ngFor="let image of images">
    <img [src]="image.url" [alt]="image.title">
  </div>
</div>

<nav>
  <ul>
    <li><a routerLink="/popular-media">Popular Media</a></li>
    <li><a routerLink="/media-detail">Media Detail</a></li>
    <li><a routerLink="/search-media">Search Media</a></li>
    <li><a routerLink="/filter-media">Filter Media</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/wishlist">Wishlist</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
