.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.image-card {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
