.welcome-content {
  text-align: center; /* Centra horizontalmente el contenido */
  margin-top: 20px; /* Ajusta según sea necesario */
  background-color: #0f0f3d; /* Azul oscuro */
  color: white; /* Texto blanco */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0f0f3d; /* Azul oscuro */
  color: white; /* Texto blanco */
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra las imágenes */
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-card img {
  max-width: 100%;
  border-radius: 8px;
}

.image-details {
  flex: 1;
  text-align: left; /* Alinea el texto a la izquierda */
}

.image-details h3 {
  margin-top: 0;
}

.image-details p {
  margin-bottom: 0;
}
